requests
python-dateutil
cryptography
urllib3
python-dotenv
websockets
datetime
selenium
beautifulsoup4
pytz
pandas
numpy
uuid
fake-useragent
python-time

fake_useragent

webdriver-manager
scikit-learn

